.button {
	background-color: #EEEEEE;
	border-width: 0 1.5px 3px 0;
	border-color: #E0E0E0;
	margin: 10px 20px;
	outline: none;
	transition: min-width .3s, border-radius .3s, border-width .3s, color .3s;
}

.button_disabled {
	border-width: 0;
	color: rgba(79, 101, 90, 0.48);
}

.button_disabled:hover {
	cursor: auto;
}

.button:hover {
	cursor: pointer;
}

.button:active {}

.button.busy {}

.button.disabled {}

.button--success {
	background-color: #00E676;
	border-color: #2E7D32;
}

.button--success:hover {
	background-color: #76FF03;
}

.button--success_disabled {
	border-width: 0;
	color: rgba(79, 101, 90, 0.48);
}

.button--success_disabled:hover {
	border-color: #00E676;
	cursor: auto;
}

.button--error {
	background-color: #FF6E40;
	border-color: #D84315;
}

.button--error:hover {
	background-color: #FF3D00;
}

.button--primary {
	min-width: 150px;
	min-height: 35px;
}

.button--primary_busy {
	min-width: 35px;
	border-radius: 50%;
	border-width: 0;
	color: #00E676;
}

.button--secondary {
	min-width: 130px;
	min-height: 30px;
}

.button--teritary {
	min-width: 80px;
	min-height: 19px;
}