* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
div {
	border: 1px solid black;
}

#app {

}
.headline_xxl {
	font-family: 'Sedgwick Ave Display', cursive;
	font-size: 80px;
	text-align: center;
}
circle {
	width: 200px;
	height: 200px;
	cx: 100;
	cy: 100;
	r: 90;
	fill: transparent;
	stroke: #B2FF59;
	stroke-width: 20;
	stroke-dasharray: 0 314;
	transition: stroke-dasharray .3s ease;
}
svg {
	margin: 0 auto;
	transform: rotate(-90deg);
	display: block;
}
.timer {}

.timer-clock {
	width: 200px;
	min-height: 200px;
	display: flex;
}

.timer-clock-time {
	margin: auto auto;
}