$color-black: #21292c;
$color-yellow: #FBE626;
$color-orange: #fb9726;
$color-red: #f17254;
$color-pink: #ec4d7b;
$color-violet: #a569a9;
$color-blue: #4a6dbb;
$color-cyan: #149ca9;
$color-dark-green: #06b798;
$color-green: #67bf82;
$color-light-green: #5EE486;
$color-white: #E8EEF0;
