@import "colors";

$background-color: $color-black;
$font-color__primary: $color-white;

$device-width-mobile-min: 320px;
$device-width-mobile-max: 668px;
$device-width-tablet-min: 668px;
$device-width-tablet-max: 1024px;
$media-mobile: "only screen and (min-width: $device-width-mobile-min) and (max-width: $device-width-mobile-max) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)";
$media-tablet: "only screen and (min-width: $device-width-tablet-min) and (max-width: $device-width-tablet-max) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1)";

@import "layout";
@import "typings";
@import "buttons";
@import "input";
@import "navigation";
@import "timer";
@import "task";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: $background-color;
}

.page {
	position: relative;
	.layer {
		position: absolute;
		width: 100%;
		z-index: 0;	
		&__1 {
			z-index: 1;
			margin-top: 145px;
		}
	}
	&__blocked {
		overflow: hidden;
		width: 100%;
		// height: 100vh;
	}

	.blur {
		position: absolute;
		filter: blur(3px);
		width: 100vw;
		height: 100vh;
	}
	.content {
		position: relative;
		display: flex;
		min-height: 100%;
		flex-direction: column;
		transition: opacity 1s;
	}
}

.task-edit {
	display: flex;
	z-index: 0;
	background: rgba($color-black, 0);
	width: 0px;
	height: 0px;
	overflow: hidden;
	flex-direction: column;
	margin: 0px 35px 0 35px;
	padding: 30px;
	border: 4px solid;
	border-radius: 5px;
	border-color: rgba($color-green, 0);
	transition: width 0.3s cubic-bezier(1, -0.01, 0.52, 1.29),
							height 0.3s cubic-bezier(1, -0.01, 0.52, 1.29),
							background 0.3s cubic-bezier(1, -0.01, 0.52, 1.29),
							border-color 0.3s cubic-bezier(1, -0.01, 0.52, 1.29);
	&.visible {
		background: rgba($color-black, 1);
		border-color: rgba($color-green, 1);
		width: calc(100% - 70px);
		height: 55vh;
		z-index: 0;
	}
}

.task-times {
	display: flex;
	.time-label {
		margin: 0 auto 0 0;
	}
}

.range-group {
	position: relative;
	margin-top: 15px;
}

.time {
	&-label {
		font-family: Arial, sans-serif;
	}
}
