.task {
	padding: 15px;
	border-bottom: 1px solid white;
	padding-left: 20px;
	cursor: pointer;
	&-name {
		font-size: 25px;
		font-weight: bold;
	}
	&-duration {
		font-size: 18px;
	}
	&-pause {
		font-size: 18px;
	}
}

.task-list {
	list-style: none;
	margin-top: 33px;
	padding:  0 10px 10px 10px;
	margin-bottom: -33px;
	margin-right: -20px;
	.task:first-of-type {
		margin-top: 0;
	}
	.task:last-of-type {
		margin-bottom: 0;
		border-bottom: none;
	}
}

.task-layer-ranges {
	display: flex;
	&__vertical {
		flex-direction: row;
	}
	&__horizontal {
		flex-direction: column;
	}
}

.task-times {
	.timer-value {
		margin-top: 0;
	}
}

